<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
   <a> <h3> Car Dealer
        <button class="btn btn-outline-warning" onclick="window.location.href = '/';">Main menu</button>
      <button class="btn btn-outline-warning" onclick="window.location.href = '/dev-contact';">Dev Contact</button>
   </h3></a>
  </span></nav>

        <div class="container-fluid">
            <br>
            <h2>Cars List</h2>
            <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Engine</th>
                <th>Year of production</th>
                <th>Mileage in km</th>
                <th>Colour</th>
                <th>Price in PLN</th>
                <th>Dealer's Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="car : ${carsList}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.engine}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.mileage}"></td>
                <td th:text="${car.colour}"></td>
                <td th:text="${car.price}"></td>
                <td th:text="${car.getDealers().getName()}"></td>
                <td th:text="${car.getDealers().getCity()}"></td>

                <td class="action-td">
                    <form method="post" class="padding5px" action="#" th:action="@{/car/delete}">
                        <input type="hidden" th:name="car_id" th:value="${car.id}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    <form method="post" class="padding5px" action="#" th:action="@{/car/edit}">
                        <input type="hidden" th:name="car_id" th:value="${car.id}">
                        <input type="submit" class="btn btn-warning" value="Edit">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>