<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
</head>
<body bgcolor="#99CC66">

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
   <a> <h3>Car Dealer
        <button class="btn btn-outline-warning" onclick="window.location.href = '/';">Main menu</button>
      <button class="btn btn-outline-warning" onclick="window.location.href = '/dev-contact';">Dev Contact</button>
   </h3></a>
  </span></nav></nav>
<div>
</div>


</body>
</html>